.hamburger {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.hamburger > * {
  height: 10px;
  width: 24px;
  border-top: 2px solid black;
  margin: auto;
}
.nav-item {
  cursor: pointer;
  color: rgb(168, 168, 168);
}
.nav-item:hover,
.active {
  color: black;
}

.bio {
  background-color: rgba(255, 255, 255, .75);
  border-radius: 1rem;
}