:root {
  --primary-color: #37322F;
  --secondary-color: #BF211E;
  --tertiary-color: #5FBFA2;
  --link-color: #19849F;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
.close {
  border-radius: 10px;
  background-color: lightgrey;
  margin-right: 10px;
  padding: 3px;
  cursor: pointer;
}

/* NAV */
header {
  width: fit-content;
  border-radius: 25px;
}
.hamburger {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: var(--link-color);
  border: 0;
}
.hamburger:hover {
  background-color: rgba(25, 132, 159, 0.511);
}
.hamburger > * {
  height: 10px;
  width: 24px;
  border-top: 2px solid rgb(255, 255, 255);
  margin: auto;
}
.nav-item {
  cursor: pointer;
  color: rgb(168, 168, 168);
}
.nav-item:hover {
  color: rgba(25, 132, 159, 0.511);
}
.active {
  color: var(--link-color)!important;
}
/* END NAV */

/* ABOUT */
.about {
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about-container {
  align-items: center;
  max-width: 90vh;
  max-height: 90vh;
  margin: auto;
}
.bio {
  border-radius: 1rem;
}
.bio-img-container {
  margin: auto;
  max-height: 75vh;
  max-width: 75vh;
  border-radius: 75%;
}
/* END ABOUT */

/* CONTACT */
#contact-form > * {
  margin-top: .25rem;
}
form {
  max-width: 75vh;
  margin: auto;
}
.btn {
  background-color: var(--link-color);
  border-color: var(--link-color);
}
.btn:hover {
  background-color: #48917b;
  border-color: #51a78d;
}
/* END CONTACT */

/* PROJECTS */
.current-filter {
  margin: 5px;
  background:rgba(25, 132, 159, 0.511);
  width: fit-content;
  padding: 10px;
  border-radius: 10%;
}
.project {
  background-color: white;
}
.project-wrapper {
  flex-wrap: wrap;
}
.prj-img-container:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
  transition: all 800ms ease;
}
.featured {
  background-color: var(--link-color);
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}
.tool {
  border-radius: 50%;
  background-color: azure;
  cursor: pointer;
  margin: 5px;
}
.card-link > * {
  height: 40px;
  width: 40px;
  color: var(--link-color);
}
.card-link > *:hover {
  height: 60px;
  width: 60px;
  transition: ease-in 300ms;
}
/* END PROJECTS */

/* RESUME */
.resume-container {
  max-width: 80vh;
  margin: auto;
}
/* END RESUME */

@media (min-width: 475px) {
  .project img {
    /* width: 40%; */
  }
}