:root {
  --primary-color: #37322F;
  --secondary-color: #BF211E;
  --tertiary-color: #5FBFA2;
  --link-color: #19849F;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
.close {
  border-radius: 10px;
  background-color: lightgrey;
  margin-right: 10px;
  padding: 3px;
  cursor: pointer;
}

body {
  background-color: seashell;
}

section {
  overflow: auto;
  max-height: 85vh;
}

.text-align {
  text-align: center;
}

/* NAV */
header {
  width: fit-content;
  border-radius: 25px;
}
.hamburger {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: var(--link-color);
  border: 0;
}
.hamburger:hover {
  background-color: rgba(25, 132, 159, 0.511);
}
.hamburger > * {
  height: 10px;
  width: 24px;
  border-top: 2px solid rgb(255, 255, 255);
  margin: auto;
}
.nav-item {
  cursor: pointer;
  color: rgb(168, 168, 168);
}
.nav-item:hover {
  color: rgba(25, 132, 159, 0.511);
}
.active {
  color: var(--link-color)!important;
}
/* END NAV */

/* ABOUT */
.about {
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about-container {
  align-items: center;
  max-width: 120vh;
  max-height: 90vh;
  margin: auto;
}
.bio {
  border-radius: 1rem;
}
.bio-img {
  max-height: 500px;
  max-width: 500px;
}
.bio-img-container {
  margin: auto;
  border-radius: 75%;
}
/* END ABOUT */

/* PROJECTS */
.current-filter {
  margin: 5px;
  background:rgba(25, 132, 159, 0.511);
  width: fit-content;
  padding: 10px;
  border-radius: 10%;
}
.project-wrapper {
  flex-wrap: wrap;
  max-width: 150vh;
  margin: auto;
}
.prj-img {
  border-radius: 25px 25px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.featured-prj {
  box-shadow: 0 4px 8px 0 #19849f8f, 0 6px 20px 0 #19849F8f!important;
}
.prj-img-container:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
  transition: all 800ms ease;
}
.prj-body {
  padding: 1rem;
  border-radius: 0 0 25px 25px;
  background-color: white;
}
.featured {
  background-color: var(--link-color);
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}
.tool {
  border-radius: 30%;
  background-color: azure;
  cursor: pointer;
  margin: 5px;
}
.tool:hover {
  background-color: rgba(25, 132, 159, 0.511);
  transition: ease-in 300ms;
  color: white!important;
}
.card-link > * {
  height: 40px;
  width: 40px;
  color: var(--link-color);
}
.card-link > *:hover {
  height: 60px;
  width: 60px;
  transition: ease-in 300ms;
}
/* END PROJECTS */

/* CONTACT */
#contact-form > * {
  margin-top: .25rem;
}
form {
  max-width: 75vh;
  margin: auto;
}
.btn {
  background-color: var(--link-color);
  border-color: var(--link-color);
}
.btn:hover {
  background-color: #48917b;
  border-color: #51a78d;
}
/* END CONTACT */

/* RESUME */
.resume-container {
  max-width: 80vh;
  margin: auto;
}
/* END RESUME */

/* FOOTER */
footer {
  bottom: 0;
  position: fixed;
  background-color: var(--link-color);
}
footer a > * {
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: white;
}
/* END FOOTER */